<h3>Form update Products</h3>


<form nz-form nzLayout="vertical" [formGroup]="myForm" (ngSubmit)="submitHandler()" class="d-flex align-center flex-col">
    <h2 class="w-100 d-flex justify-center">Fill content to form</h2>
    <nz-form-item class="w-50">
        <nz-form-label><strong>Name Product: </strong></nz-form-label>
        <nz-form-control nzValidatingTip="Validating...">
            <input nz-input formControlName="name" placeholder="Tên sản phẩm" class="w-100" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w-50">
        <nz-form-label><strong>Price: </strong></nz-form-label>
        <nz-form-control nzValidatingTip="Validating...">
            <input nz-input formControlName="price" placeholder="VD: 99 999" class="w-100" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w-50">
        <nz-form-label><strong>Images: </strong></nz-form-label>
        <nz-form-control nzValidatingTip="Validating...">
            <input nz-input formControlName="images" placeholder="http://...." class="w-100" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w-50 d-flex justify-start">
        <button nz-button nzType="primary">Submit</button>
    </nz-form-item>
</form>