<div class="banner container">
    <div class="banner-info">
        <div class="title">
            <h4>Hi, I am John,</h4>
        </div>
        <div class="title">
            <h4>Creative Technologist</h4>
        </div>
        <div class="details">
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="btn-banner">
            <button>Download Resume</button>
        </div>
    </div>
    <div class="banner-avatar">
        <div class="avatar">
            <img src="http://res.cloudinary.com/dzroyn2i4/image/upload/v1652098804/portfolio/b3nvle2ofol1y3pcmf8u.jpg" alt="">
        </div>
    </div>
</div>