<div class="my-project container">
    <div class="project-header">
        <div class="title">
            Featured works
        </div>
    </div>
    <div class="project-main">
        <div class="project-items">
            <div class="project-item-avatar">
                <img src="https://res.cloudinary.com/dzroyn2i4/image/upload/v1649561706/car/Screenshot_2022-04-10_103413_c7g54q.png" alt="">
            </div>
            <div class="project-item-content">
                <div class="project-items-title">
                    <h4>Designing Dashboards</h4>
                </div>
                <div class="project-item-info">
                    <div class="date">
                        2020
                    </div>
                    <div class="category">
                        Dashboard
                    </div>
                </div>
                <div class="project-item-details">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </div>
            </div>
        </div>
        <div class="project-items">
            <div class="project-item-avatar">
                <img src="https://res.cloudinary.com/dzroyn2i4/image/upload/v1649562662/car/Screenshot_2022-04-10_105007_wi6woh.png" alt="">
            </div>
            <div class="project-item-content">
                <div class="project-items-title">
                    <h4>Vibrant Portraits of 2020</h4>
                </div>
                <div class="project-item-info">
                    <div class="date">
                        2018
                    </div>
                    <div class="category">
                        Illustration
                    </div>
                </div>
                <div class="project-item-details">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </div>
            </div>
        </div>
        <div class="project-items">
            <div class="project-item-avatar">
                <img src="https://res.cloudinary.com/dzroyn2i4/image/upload/v1649562084/car/Screenshot_2022-04-10_104108_m7essx.png" alt="">
            </div>
            <div class="project-item-content">
                <div class="project-items-title">
                    <h4>36 Days of Malayalam type</h4>
                </div>
                <div class="project-item-info">
                    <div class="date">
                        2018
                    </div>
                    <div class="category">
                        Typography
                    </div>
                </div>
                <div class="project-item-details">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </div>
            </div>
        </div>
    </div>
</div>